.ipynb_checkpoints/
download-updates.JPG
dynamically located.JPG
erase-and-install.JPG
file-loc-and-size.JPG
hard disk.JPG
installing-screen.JPG
install ubuntu.JPG
keyboard-layout.JPG
memory.JPG
new.JPG
open-ubuntu.JPG
Start.JPG
Ubuntu-16.04.JPG
user.JPG
VDI.JPG
where-are-you.JPG
drawisland-1.png
drawisland-2.png
drawisland-3.png
